.content {
  margin: 0 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrapper {
  display: flex;
  margin: 20px;
}

.content {
  flex: 1;
}

.context {
  flex: 0 0 20%;
}

.txt {
  min-height: 200px;
  width: 95%;
}

.parser-option {
  margin: 10px;
}

.issue__retext-simplify {
  border-bottom: 2px dotted blue;
}

.issue__retext-readability {
  background-color: rgb(253, 253, 181);
}

.issue__retext-profanities {
  background-color: rgb(253, 181, 181);
}

.issue__retext-equality {
  background-color: rgb(220, 181, 181);
}

.issue__retext-repeated-words, .issue__retext-repeatedWords {
  border-bottom: 2px dotted green;
}


/* tooltip - https://codepen.io/cristina-silva/pen/XXOpga*/
.tooltip-toggle {
  cursor: pointer;
  position: relative;
}
  
.tooltip-toggle::before {
  position: absolute;
  top: -80px;
  left: -80px;
  background-color: #2B222A;
  border-radius: 5px;
  color: #fff;
  content: attr(aria-label);
  padding: 1rem;
  text-transform: none;
  transition: all 0.5s ease;
  width: 160px;
}

.tooltip-toggle::after {
  position: absolute;
  top: -12px;
  left: 9px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #2B222A;
  content: " ";
  font-size: 0;
  line-height: 0;
  margin-left: -5px;
  width: 0;
}
  
.tooltip-toggle::before,
.tooltip-toggle::after {
  color: #efefef;
  opacity: 0;
  pointer-events: none;
  text-align: center;
}

.tooltip-toggle:focus::before,
.tooltip-toggle:focus::after,
.tooltip-toggle:hover::before,
.tooltip-toggle:hover::after {
  opacity: 1;
  transition: all 0.75s ease;
}
